
TP2(잡케어)/data/df_train.csv
TP2(잡케어)/03_모델선정및개선/catboost_info/catboost_training.json
TP2(잡케어)/03_모델선정및개선/catboost_info/catboost_training.json
TP2(잡케어)/03_모델선정및개선/catboost_info/learn/events.out.tfevents
TP2(잡케어)/03_모델선정및개선/catboost_info/learn_error.tsv
TP2(잡케어)/03_모델선정및개선/catboost_info/time_left.tsv
TP2(잡케어)/03_모델선정및개선/logs.log
TP2(잡케어)/03_모델선정및개선/logs.log
